*{
    margin:0;
    padding:0;
    list-style: none;
}

img{
    border:none;
    outline: none;
}
body{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
header{

}
.container{
    width: 100%;
    overflow: hidden;
}
.container li{
    width: 100%;
    height: 2rem;
    font-size:30px;
    border-bottom: 1px solid rgb(203,203,203);
    line-height:2rem;
    padding-left: 2%;
    background: url("../img/cato/jiantou-right.jpg") no-repeat 94% center;
}


/*footer*/
footer{
    position: fixed;
    width: 100%;
    height:2rem;
    bottom:0;
    color: white;

}
footer ul{
    overflow: hidden;
}
footer .footer_li2{
    background:rgb(210,18,122);
}
footer ul li{
    float: left;
    width: 25%;
    height:2rem;
    text-align: center;
    background: rgb(82,72,77);
    padding:0 1rem;
    box-sizing: border-box;
}
footer ul li img{
    vertical-align: middle;
    width: 16%;
}
footer ul li p{
    font-size: 17px;
    height:0.5rem;
}